.contacts-info {
    margin-top: 3em;
    .section-title {
        font-size: 2.5rem;
        font-weight: 500;
        margin-bottom: 1em;
    }
    .contacts-info__list {
        display: flex;
        column-gap: 2em;
        margin-bottom: 2.5em;
        .contacts-info__item {
            display: flex;
            align-items: center;
            column-gap: .5em;
            background-color: #1E3773;
            border-radius: 20px;
            color: #fff;
            padding: 1.3em;
            .icon {
                width: 52px;
                height: 52px;
                border-radius: 100%;
                background-color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .contacts-info__map {
        margin-bottom: 6em;
    }
}